<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:aop="http://www.springframework.org/schema/aop"
     xmlns:tx="http://www.springframework.org/schema/tx"
     xmlns:jdbc="http://www.springframework.org/schema/jdbc"
     xmlns:context="http://www.springframework.org/schema/context"
     xsi:schemaLocation="
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
     http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">
     
         
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/plantillausuario"/>
		<property name="username" value="root"/>
		<property name="password" value=""/>
	</bean> 
	
	
	
	 <!-- transaction manager, use JtaTransactionManager for global tx   upds_cajas  -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>


	<!-- define donde estan las clases controladoras con anotacion -->
	 
	
	
	 
	   <context:component-scan base-package="org.keije.com.domain"/>
	  <context:component-scan base-package="org.keije.com.service"/>
	  
	  
	  
	 
	 

     <!-- enable autowire -->
    <context:annotation-config />

    <!-- enable transaction demarcation with annotations -->
    <tx:annotation-driven />
  

	
    <!-- define the SqlSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="typeAliasesPackage" value="org.keije.com" /> 
        
       
    </bean> 
   
    
    
    <bean id="propertyConfigure" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations" >
        
        <list>
        	<value>WEB-INF/client.properties</value>
        </list>
		</property>
    </bean> 
     <!-- =========================SERVICIOS EXTERNOS======================== -->

	
	
	
     <!-- ================================================================================== -->
    
   

    <!-- scan for mappers and let them be autowired -->
    
    
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="org.keije.com.persistence" />
    </bean> 
   
    
    
    
     <!-- ========================= BUSINESS OBJECT DEFINITIONS ======================== -->

	
	 <!-- ========================= BUSINESS OBJECT DEFINITIONS ======================== -->

	
	
 	 <!-- ========================= BUSINESS OBJECT DEFINITIONS ======================== -->

	
	
 	<!-- ========================= BUSINESS OBJECT DEFINITIONS ======================== -->

	
	
</beans>
